@import url('https://fonts.googleapis.com/css?family=Athiti');

body {
  font-family: 'Athiti', sans-serif;
}
a {
  color: #d65696;
  text-decoration: none;
}
.section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.about {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.my-img {
  flex: 0.5;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-me {
  flex: 1;
  background: #ffffffad;
  padding: 30px;
  border-radius: 12px;
  margin: 30px;
}

.img {
  width: 250px;
}

.name {
  font-size: 1.5em;
  line-height: 2.5em;
}

.position {
  text-align: center;
}

.line {
  margin-top: 10px;
  margin-bottom: 15px;
  border: 0;
  height: 1px;
  background-color: #9e9e9e;
}

#typed-strings {
  font-size: 1.5em;
  text-align: center;
}
